<div class="container">
    <h2>Login</h2>

    <form class="card-body" id="login-user">
        <div>
            <label for="username-login">Username</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="password" id="password-login" />
        </div>
        <button class="btn btn-primary" type="submit">Login!</button>
        <a type="button" href="./signup">Sign up instead</a>
    </form>
</div>
<script src="./js/login.js"></script>