<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <form class="card-body">
        <div>
            <label for="username-login">Username</label>
            <input type="text" />
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="password" />
        </div>
        <button class="btn btn-primary" type="submit">Login!</button>
        <a type="button" href="/signup">Sign up instead</a>
    </form>
</div>