{{!-- activity 18 --}}

<div class="row">
    <h2>Sign Up</h2>

    <div id="signup">
        <form class="form signup-form" id="signup-form">
            <div>
                <label for="username-signup">Username</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Password</label>
                <input type="password" id="password-signup" />
            </div>
            <button class="btn btn-primary" type="submit">signup</button>
            <a href="/login">Login instead</a>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>