{{!-- activity 16 --}}
<div class="card">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>
    <div id="signup">
        <form class="card-body">
            <div>
                <label for="username-signup">Username</label>
                <input type="text" />
            </div>
            <div>
                <label for="password-signup">Password</label>
                <input type="password" />
            </div>
            <button class="btn btn-primary" type="submit">signup</button>
            <a href="/login">Login instead</a>
        </form>
    </div>
</div>